@model WishList.Models.Item

<h3> ADD ITEMS TO WISHLIST </h3>

<form asp-action=" create">
    <input asp-for=" Description" />
    <span asp-validation-for="Description">

    </span>

    <button type="submit"> ADD ITEM </button>

</form>